.card {
    overflow: hidden;
    border-radius: 12px;
  }
  
  .card-img-top {
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
  }
  
  .badge {
    font-size: 0.85rem;
    padding: 5px 10px;
    z-index: 1;
  }
  
  .card-body {
    padding: 15px;
  }
  
  .text-truncate-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: normal;
  }
  
  .card-title {
    font-size: 1.2rem;
    margin-bottom: 8px;
  }
  
  .description {
    font-size: 0.900rem;
    color: #6c757d;
    margin-top: 8px;
  }
  