
  
  .cardContainer{
  

     
      .text-truncate-2 {
        display: -webkit-box;
        -webkit-line-clamp: 2; /* Number of lines to display */
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: normal;
      }
      
      .card-title {
        font-size: 1rem;
        font-weight: 500;
        margin-bottom: 8px;
      }
   
  }