.latestPopularPosts {
  .latestPosts h6 {
    font-size: 1.3rem;
  }

  .popularPosts h6 {
    font-size: 0.9rem;
  }

  .pph6 h6 {
    font-size: 1.05rem;
  }

  .pph6 .pptn {
    opacity: 0.3;
    font-weight: bold;
    font-style: italic;
  }

  /* General card hover effect */
  .card {
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    border-radius: unset !important;
  }

  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  }

  /* Image container styles for consistent sizing */
  .image-container {
    width: 300px;
    height: 100%;
    overflow: hidden;
  }

  .image-container img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    transition: transform 0.3s ease-in-out;
  }

  .image-container:hover img {
    transform: scale(1.1);
  }

  .trendNo {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    font-size: 1.2rem;
    border-radius: 40%; /* Perfect circle */
    transition: all 0.3s ease-in-out; /* Smooth transitions */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }

  /* Hover Effect for Trend Number */
  .pp:hover .trendNo {
    background: rgba(0, 4, 255, 0.6); /* Darker, blurred background */
    color: white; /* Ensure text stays white */
    backdrop-filter: blur(8px); /* Apply background blur */
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.5); /* More pronounced shadow */
  }

  .share {
    font-size: 12px;
  }
  .share .icon {
    font-size: 1rem !important;
  }

  .categoriesWrapper div ul li p {
    margin: 0px;
    opacity: 0.5;
    font-size: 0.9rem;
  }
  .categoriesWrapper div ul li .c_link {
    text-decoration: none;
    font-size: 0.9rem;
    color: black;
    font-weight: 500;
  }
  .categoriesWrapper div ul li .c_link:hover {
    color: rgba(33, 70, 233, 0.767);
    font-weight: 600;
  }
  .categoriesWrapper div ul li {
    border-bottom: 1px solid rgb(131, 128, 128, 0.1);
  }

  .recommendedWrapeer {
    
    .text-truncate-2 {
      display: -webkit-box;
      line-clamp: 2;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  h5 {
    font-size: 0.9rem;
  }
}
