.breadcrumb {
  display: flex;
  gap: 8px; 
  font-size: 16px; 
  color: #6c757d; 
  align-items: center;

}

.breadcrumb-item {
  display: flex;
  align-items: center;
  font-weight: 500; 
  
}

.breadcrumb-item a {
  text-decoration: none;
  color: #007bff; 
  transition: color 0.3s ease;
  

  &:hover {
    color: #0056b3;
    text-decoration: underline;
  }
}

.breadcrumb-item.active {
  color: #6c757d;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: ">" !important;
  color: #adb5bd;
  font-weight: 600;
}
