.latestPopularPosts {
  .latestPostsContainer {
    .latestPosts {
      h6 {
        font-size: 1.9rem;
      }

      .card {
        transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
        border: none !important;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
        }
      }

      .image-container {
        width: 350px;
        height: 200px;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          width: 100%;
          height: 100%;
          transition: all 0.3s ease-in-out;
          object-fit: cover;
        }

        &:hover img {
          transform: scale(1.1);
        }
      }

      .card-body {
        padding: 20px;
        border: none;

        .card-title {
          font-size: 1.1rem;
          font-weight: bold;
        }

        .description {
          font-size: 0.9rem;
          color: #666;
        }

        .btn {
          margin-top: 10px;
        }
      }
    }
  }

  /* Medium Screens - Adjustments */
  @media (max-width: 992px) {
    .latestPostsContainer .latestPosts {
      h6 {
        font-size: 1.5rem;
      }

      .card-body {
        padding: 15px;

        .card-title {
          font-size: 1rem;
        }

        .description {
          font-size: 0.85rem;
        }
      }
    }
  }

  /* Tablet Screens */
  @media (max-width: 991px) {
    .latestPostsContainer .latestPosts .cardLatest {
      flex-direction: column;

      .image-container {
        width: 100%;
        height: 300px;
      }
    }
  }

  /* Small Screens */
  @media (max-width: 768px) {
    .latestPostsContainer .latestPosts {
      h6 {
        font-size: 1.3rem;
      }

      .card {
        flex-direction: column;

        .image-container {
          width: 100%;
          height: 200px;
        }
      }

      .card-body {
        padding: 10px;

        .card-title {
          font-size: 0.9rem;
        }

        .description {
          font-size: 0.8rem;
        }
      }
    }
  }

  /* Extra Small Screens */
  @media (max-width: 574px) {
    .latestPostsContainer .latestPosts {
      h6 {
        font-size: 1.1rem;
      }

      .card {
        flex-direction: column;

        .image-container {
          width: 100%;
          height: 300px;
        }
      }

      .card-body {
        padding: 8px;

        .card-title {
          padding-top: 15px;
          font-size: 1rem;
        }

        .description {
          font-size: 0.9rem;
        }
      }
    }
  }

  /* Mobile Screens */
  @media (max-width: 430px) {
    .latestPostsContainer .latestPosts {
      h6 {
        font-size: 1.1rem;
      }

      .card {
        flex-direction: column;

        .image-container {
          width: 100%;
          height: 200px;
        }
      }

      .card-body {
        padding: 8px;

        .card-title {
          padding-top: 15px;
          font-size: 1rem;
        }

        .description {
          font-size: 0.9rem;
        }
      }
    }
  }
}
