@use "../../styles/globals" as *;

.comments-container {
  background-color: inherit;
  color: inherit;
  // transition: background-color 0.3s, color 0.3s;
  .title {
    padding: 10px;
  }

  textarea {
    background-color: inherit !important;
    box-shadow: 0 0 2px white;
    color: inherit !important;
    padding: 10px;
    border-radius: 5px;
    font-size: 1rem;
    resize: none;

    &::placeholder {
      color: inherit !important;
      opacity: 0.6;
    }

    &:focus {
      border-color: var(--primaryColor) !important;
      outline: none !important;
      box-shadow: 0 0 5px white;
    }
  }

  .commentCard {
    background-color: inherit !important;
    color: inherit !important;
    box-shadow: 0 0 2px white;
  }

  .commentDate {
    // color: var(--softTextColor) !important;
    font-size: 0.85rem;
  }
}

// Dark Mode Adjustments
.dark {
  .comments-container {
    .title {
      background-color: #222 !important;
      color: #fff !important;
      padding: 10px;
      border-radius: 5px;
      box-shadow: 0 0px 5px rgba(255, 255, 255, 0.1); // Soft glow effect for contrast
    }

    textarea {
      background-color: #333 !important;
      color: #fff !important;
      border: 1px solid #555 !important;
    }

    .commentCard {
      background-color: #2a2a2a !important;
      color: #fff !important;
      border: 1px solid #444 !important; // Slightly visible border in dark mode
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1); // Soft glow effect for contrast
    }

    .commentDate {
      color: #999 !important; // More readable in dark mode
    }
  }
}
