
.sidebar-container {
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
    height: 100%;
    padding: 20px 20px;
    position: relative;
    z-index: 1000000;
  
    .nav {
      padding-left: 0;
      list-style: none;
      margin: 0;
  
      .nav-item {
        margin-bottom: 15px;
  
        .nav-link {
          display: flex;
          align-items: center;
          color: inherit;
          font-size: 1rem;
          padding: 10px 20px;
          border-radius: 8px;
          text-decoration: none;
  
          &.active {
            background-color: #007bff;
            color: #fff;
            font-weight: bold;
          }
  
          &:hover {
            background-color: #444;
            color: #fff;
            transition: background-color 0.3s ease;
          }
  
          .me-2 {
            margin-right: 10px;
            font-size: 1.25rem;
          }
        }
      }
  
      .mt-auto {
        margin-top: auto;
      }
    }
  }
  
  // Sidebar Item Active State
  .nav-link.active {
    background-color: #007bff;
    color: inherit;
    border-left: 5px solid #0056b3;
  }
  
  // Hover Effects for Links
  .nav-link:hover {
    background-color: #575757; /* Darker gray on hover */
    color: white; /* White text on hover */
    transition: background-color 0.3s ease;
  }
  
  // Sign Out Button Styling
  .btn-danger {
    transition: background-color 0.3s ease;
  }
  
  .btn-danger:hover {
    background-color: #e53935; /* Bright red on hover */
  }
  

