@use "../../styles/globals" as *;

.categoryContainer {
  .categoryNav {
    transition: all 0.3s ease;
    background-color: rgb(59, 58, 58);
  }

  // Responsive Styles
  @media (max-width: 992px) {
    .categoryNav {
      padding: 3rem 2rem;
    }
  }

  @media (max-width: 768px) {
    .categoryNav {
      padding: 2rem;
    }
  }

  @media (max-width: 576px) {
    .categoryNav {
      padding: 1.5rem;
    }
  }
}

// Dark & Light Mode
.dark {
  background-color: $dark-bg;
  color: $light-text !important;
}
.light {
  background-color: $light-bg;
  color: $dark-text;
}
